// set the container width to the same as ebates.com
$gap: 151;

// import bulma
@import "../node_modules/bulma/bulma";

// push the footer to the bottom
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// set the font to the ebates font
body {
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.hero {
  position: relative;
  .hero-body {
    .title, .subtitle { color:white; }
  }  
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(/static/fonts/ProximaNova-Reg-webfont.woff);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(/static/fonts/ProximaNova-Sbold-webfont.woff);
  font-weight: bold;
}
.button.is-loading.repos-spinner::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #23ae4a;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}